.cookie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: toRem(15) 0;
  color: $colorWhite;
  button {
    @include button($colorMediumSpringGreen, $colorBlack);
  }

  &__wrapper {
    background: $colorGrey;
  }
}
