@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.woff") format("woff"),
    url("../fonts/Rubik-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-SemiBold";
  src: url("../fonts/Rubik-SemiBold.woff") format("woff"),
    url("../fonts/Rubik-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Title-font";
  src: url("../fonts/PressStart2P-Regular.woff") format("woff"),
    url("../fonts/PressStart2P-Regular.woff2") format("woff2");
}
