// sizes

$padding50: toRem(50);
$padding100: toRem(100);
$padding150: toRem(150);
$padding200: toRem(200);

// colors

$colorBlack: #0b0b0b;
$colorGrey: #282828;
$colorWhite: #ffffff;
$colorYellow: #ffff02;
$colorBlue: #4a00ff;
$colorMediumSpringGreen: #00ff9d;
$colorOrange: #ff8b00;

// fonts

$fontContent: "Rubik-Regular", sans-serif;
$fontContentBold: "Rubik-SemiBold", sans-serif;
$fontSpecial: "Title-font", sans-serif;
